<!DOCTYPE html>
<html>
  <head>
    <title>InsalPhanxipang</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <script type="text/javascript">
      $(function(){
        var notice = "<%= !flash[:notice].nil? ? flash[:notice].first : '' %>"
        var type = "<%= !flash[:notice].nil? ? flash[:notice].last : '' %>"
        $.notify(notice, type );
      })
    </script>
    <div class="wrapper">
    <%= render  "layouts/header" %>
    <%= render  "layouts/side-bar" %>
    <div class="content-wrapper">
      <section class="content">
        <%= yield %>
      </section>
    </div>
    <%= render  "layouts/footer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
